.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f3e8e800;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
.black {
    color: rgb(21, 21, 21);
    text-decoration: none;
    font-size: 1.3rem;
  }

.white {
    color: rgb(246, 241, 241);
    text-decoration: none;
    font-size: 1.3rem;
  }


  .navbar ul li a:hover{
    color: rgb(252, 133, 42);
    font-size: 1.4rem;
  }