.carousel{
    width: 60vw;
    height: auto;
    z-index: 10;
}

.swiper {
  width: 80vw;
  height: auto;
  padding: 50px;
}

.swiper-wrapper{
  width: 80vw;
  height: auto;
  padding: 50px;
}

.img {
  width: 100%;
  height: auto;
}

