#inicio {
  margin-top: 80vh;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.section h2 {
    margin-bottom: 1rem;
  }

